body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u292 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:117px;
  width:300px;
  height:335px;
  overflow:hidden;
}
#u292_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:335px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u292_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:333px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.568627450980392);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:333px;
}
#u294 {
  position:absolute;
  left:2px;
  top:158px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u295 {
  position:absolute;
  left:12px;
  top:12px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u297 {
  position:absolute;
  left:256px;
  top:92px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u298 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u299 {
  position:absolute;
  left:116px;
  top:151px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u300 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u301 {
  position:absolute;
  left:12px;
  top:52px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u302 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u303 {
  position:absolute;
  left:12px;
  top:78px;
  width:271px;
  height:37px;
}
#u304 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
